---
layout: default
---
<br><br><br><br><br>

    <div class="container marketing">
    <div class="row featurette">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h1 class="big">Photos</h1>
          <h2>Life is all about perspective. Here is life through my lens.</h2>
        </div>
    </div>
    <hr class="featurette-divider">
      
      <div class="row featurette">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h1 class="text-center">
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h1>
          <h4 class="text-center post-date">{{ post.date | date: "%B %e, %Y" }}</h4><br>
          {% if post.heading_image %}<img src="{{ post.heading_image }}" class="post-heading-img">{% endif %}
  	    	{{ post.excerpt }}<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          <br><br>
          <div class="text-center"><p><span class="glyphicon glyphicon-pencil"></span>{% if post.author %} {{ post.author }}{% endif %}  | {{ post.tags }}</p></div>
          <hr class="featurette-divider">
        </div>
      </div>
      {% endfor %}

      <!-- Mailing List Form -->
      <div class="col-md-4"></div>
      <div id="mc_embed_signup" style="margin-bottom: 150px;" class="text-center col-md-4">
        <h2>Mailing List</h2>
        <p>If you would like to stay in touch with me, hear what I'm working on, or see some pretty pictures, here is a good place to start.</p>
        <form action="//jakelarkin.us9.list-manage.com/subscribe/post?u=ef9b632740473a00689716b75&amp;id=6b43ef6655" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ef9b632740473a00689716b75_6b43ef6655" tabindex="-1" value=""></div>
            <div class="input-group">
              <input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="your interweb identity" onfocus="this.placeholder = ''" required class="form-control email-input">
              <span class="input-group-btn">
                <div class="clear"><button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default email-btn" type="button"><span class="glyphicon glyphicon-chevron-right"></span></button></div>
              </span>
            </div>
            <p style="font-size:12px">I hate spam too so this won't be spammy</p>
          </div>
        </form>
      </div>

    

      <br><br><br><br>
    </div>