<footer class="site-footer">

  <div class="container marketing footer-space">
    <p class="pull-right" style="padding-right:25px"><a class="text-link" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a></p>
    <h3>Other Stuff That Matters To Me</h3>
    <ul class="list-unstyled" style="margin-left:25px;">
      <li><a class="text-link" href="/quotes.html">Quotes</a></li>
      <li><a class="text-link" href="/photos.html">Photos</a></li>
      <li><a class="text-link" href="http://wouldyoulookatthat.co/">Video Blog</a></li>
      <li><a class="text-link" href="/docs.html">Docs</a></li>
      <li><a class="text-link" href="/books.html">Library</a></li>
    </ul>
    <img src="/images/built_logo.png" class="pull-right" height="75px">
    <p style="padding-top:50px;">&copy; 2014 Jake Larkin &middot;  <a class="text-link" href="/humans.txt">Hand-crafted</a> with love in Columbus, Ohio.</p><br>
  <div>
</footer>
