<header class="site-header">

  <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-static-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="glyphicon glyphicon-list"></span>
              </button>
              <a class="navbar-brand" href="/#" style="padding-top:5px; text-decoration: none;"><img src="/images/pers_logo_dark.png" height="35px" id="logo" onmouseover="this.src='/images/pers_logo_dark_hover.png';" onmouseout="this.src='/images/pers_logo_dark.png';"> Jake Larkin</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav nav-pills navbar-right">
                <li><a href="/#about" style="text-decoration: none;">Who I Am</a></li>
                <li><a href="/#education" style="text-decoration: none;">Education</a></li>
                <li><a href="/#doings" style="text-decoration: none;">Doings</a></li>
                <li><a href="/#work" style="text-decoration: none;">Work</a></li>
                <li><a href="/#connect" style="text-decoration: none;">Connect</a></li>
                <li><a href="/thoughts.html" style="text-decoration: none;">Thoughts</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>

</header>
