---
layout: default
---
<div class="post">
	<br><br><br><br><br>
  <div class="container marketing">
  	<div class="row featurette">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <h1 class="big">{{ page.title }}</h1>
          <p class="post-meta">{{ page.date | date: "%B %e, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="col-lg-2"></div>
      <div class="col-lg-8">
    	  <article class="post-content">
    	    {{ content }}
    	  </article>
      </div>
  </div>

</div>
